#Data folder containing datas
/MIRRORCHATBOT/data/

#Virtual Environment 
.venv/
venv/
env/

#Python cache & artifacts 
__pycache__/
*.__pycache__
.pytest_cache/

#Sensitive environment variable 
.env




